In [2]:
#1. WAS (write a statement) to print hello world! not using print.
a= "hello world"
a

'hello world'

In [1]:
#2. WAS (write a statement) to print hello world!
print("Hello world!")

Hello world!

In [1]:
#3. To initialize value to the variable.
a = 6

In [2]:
#4. WAS to initialize multivariable, values are 150,120,250 (take your own variable names).
a,b,c=150,120,250

In [3]:
#5. WAS to print the type of the data in given value.
a = 10+15j
print(type(a))

<class 'complex'>

In [4]:
#6. WAS to print the address of the memory block in given value.
a = 10+15j
print(id(a))

1750769858064

In [19]:
#7. WAS to print your details, first store your details, extract the values and display it
a="Rakesh Suggana"
b= "Student"
c= 123456789
print(a,b,c)

Rakesh Suggana Student 123456789

In [28]:
#8. WAS to swap the two values. With a temp variable.
a = 100
b = 200
n = a
a = b
b= n
print(a)
print(b)

200
100

In [30]:
#9. WAS to swap the two values without temp variable.
a = 100
b = 200
a,b = b,a
print(a,b)

200 100

In [32]:
#10. WAS to initialize a value and print the value, after print the value, then reinitialize.
a = 100
#initialization
print(a)
a = 500
#Re- Initialization
print(a)

100
500

In [6]:
#11. WAS to convert single to multi value data type I/p=10 O/p = ['1', '0'].
n = 10
n = str(n)
list(n)

['1', '0']

In [13]:
#12 WAS to concat the two multi value data types(str, list, tuple, set, dict).
n = [1,2,3,4,5]
n+=(6,7,8,9)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#13. WAE to check perform the length of the collection.
lst = [1,2,3,4,5]
len(lst)

5

In [29]:
#14. WAE to check find out the middle value of the given collection.
lst = [1,2,3,4,5,6]
len(lst)//2

3

In [39]:
#15. WAS to concat the new string into the starting of the given string.
g = "GivenString"
n = "NewString"
n+g

'NewStringGivenString'

In [41]:
#16. WAS to concat the new string into the ending of the given string.
g = "GivenString"
n = "NewString"
g+n

'GivenStringNewString'

In [51]:
#17. WAS to concat the new string into the middle of the given string.
g = "GivenString"
n = "GGG"
len(g)//2
g[0:5:1] + n + g[5::]

'GivenGGGString'

In [56]:
#18. WAS to modify the new character into the middle of the given string.
g = "Givenrtring"
g[:5:] + '$' + g[6::]

'Given$tring'

In [76]:
#19. WAS to modify the sequence of characters in given string.
g = "Givenrtring"
g[0:5:1] + 'RING' + g[5:5:1]

'GivenRING'

In [77]:
#20. WAS to replace the old character into a new character of the given string.
n = "python"
n[:2:1]+ "tr"+n [3::]

'pytrhon'

In [5]:
#21. WAS to delete the specific character in the given string.
str = "Rakesh_Suggana"
str[:6:1] + str[7::]

'RakeshSuggana'

In [18]:
#22. WAS to delete the sequence of characters in the given string.
str1 = "Rakesh_Suggana"
str[0:6:1] + str[14::1]

'Rakesh'

In [7]:
#23. WAS to concat the new string into the specific position of the given string.
g =  "Rakh"
n = "es"
g[0:3:1] + n[::] + g[3::]

'Rakesh'

In [21]:
#24. WAS to concat the new value into the starting of the given list.
n = ["Rakesh", 1, "cool"]
a = ["Suggana"]
a + n

['Suggana', 'Rakesh', 1, 'cool']

In [18]:
#25. WAS to concat the new value into the ending of the given list.
n = ["Rakesh", 1, "cool"]
n+= ["Suggana"]
n

['Rakesh', 1, 'cool', 'Suggana']

In [28]:
#26. WAS to concat the new value into the middle of the given list.
n = ["Rakesh", 1, "cool"]
len(n)//2
n[0:1:1]+ ["Suggana"] + n[1::]

['Rakesh', 'Suggana', 1, 'cool']

In [49]:
#27. WAS to concat the new value into the specific position of the given list.
n = ["Rakesh", 1, "cool", "smooth"]
n[0:2:1] + ["2"] + n[2::1]

['Rakesh', 1, '2', 'cool', 'smooth']

In [33]:
#28. WAS to modify the new value into the specific position of the given list.
n = ["Rakesh", 1, "cool"]
n[1]= "lala"
n

['Rakesh', 'lala', 'cool']

In [51]:
#29. WAS to modify the new value into the starting of the given list.
n = ["Rakesh", 1, "cool"]
n[0] = "Smile"
n

['Smile', 1, 'cool']

In [52]:
#30. WAS to modify the new value into the ending of the given list.
n = ["Rakesh", 1, "cool"]
n[-1]= "Nice"
n

['Rakesh', 1, 'Nice']

In [54]:
#31. WAS to modify the new value into the middle of the given list.
n = ["Rakesh", 1, "cool"]
n[len(n)//2]= "Middle"
n

['Rakesh', 'Middle', 'cool']

In [56]:
#32. WAS to modify the starting 4 positions values into a given list.
s = [1,2,3,4,5,6,7,8,9]
s[:4:]= [10,20,30,40]
s

[10, 20, 30, 40, 5, 6, 7, 8, 9]

In [60]:
#33. WAS to modify the sequence of values into a given list.
s = [1,2,3,4,5,6,7,8,9]
s[2:6:1] = [10,20,30,40]
s

[1, 2, 10, 20, 30, 40, 7, 8, 9]

In [11]:
#34. WAS to delete the value in the specific position of the given list.
l = [1,2,3,4,5]
del l[3], l[1]
l

[1, 3, 5]

In [13]:
#35. WAS to delete the value into the ending of the list.
l = [1,2,3,4,5]
del l[4]
print(l)

[1, 2, 3, 4]

In [15]:
#36. WAS to delete value into the starting of the list.
l = [1,2,3,4,5]
del l[0]
print(l)

[2, 3, 4, 5]

In [17]:
#37. WAS to delete the value into the middle of the list.
l = [1,2,3,"str", "colour"]
del l[3]
print(l)

[1, 2, 3, 'colour']

In [19]:
#38. WAS to concat the value into starting of the tuple.
t = (1,2,3,4,5)
(5,6,7,8,9) + t

(5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [77]:
#39. WAS to concat the value into the middle of the tuple.
t = (1,2,3,4,5)
t = t[:2:1] + ("r",)+ t[2::1]
t

(1, 2, 'r', 3, 4, 5)

In [80]:
#40. WAS to concat the value into the ending of the tuple.
t = (1,2,3,4,5)
t = t[::] + (8,9,0)
t

(1, 2, 3, 4, 5, 8, 9, 0)

In [83]:
#41. WAS to modify the sequence of values in given tuple.
t = (1,2,3,4,5)
(10,20) +  t[2::1]

(10, 20, 3, 4, 5)

In [85]:
#42. WAS to delete the sequence of values in given tuple.
t = (1,2,3,4,5)
t[2::1]

(3, 4, 5)

In [92]:
#43. WAS to concat the new value into the set.
s = {1,2,3,4,5}
s|{10,20}

{1, 2, 3, 4, 5, 10, 20}

In [98]:
#44. WAS to delete the specific value in the set.
s = {1,2,3,4,5}
l = list(s)
del l[2]
s= set(l)
print(s)

{1, 2, 4, 5}

In [100]:
#45. WAS to concat the new key and value into the dict.
d = {1:"Good",2:"Cool",3:"Nice"}
d[5]="Epic"
d

{1: 'Good', 2: 'Cool', 3: 'Nice', 5: 'Epic'}

In [103]:
#46. WAS to delete the specific key and value in the given dict.
d = {1:"Good",2:"Cool",3:"Nice"}
del d[3]
d

{1: 'Good', 2: 'Cool'}

In [116]:
#47. WAS to modify the specific value in the given dict.
d = {1:"Good",2:"Cool",3:"Nice"}
d[2]= "lie", 600
d

{1: 'Good', 2: ('lie', 600), 3: 'Nice'}

In [118]:
#48. WAS to concat the list and tuple values by using type casting.
l = [1,2,3,4,5]
t = (6,7,8,9)
tuple(l)+ t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [129]:
#49. WAS to concat the list value and tuple value without using type casting.
l = [1,2,3,4,5]
l+=(6,7,8,9)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
#50. WAE to check the given number is divisible by 3.
n = 3
n%3==0

True

In [1]:
#51. WAE to check the given number is divisible by 2 and 6.
n = eval(input(":"))
n%2==0 and n%6==0

True

In [4]:
#52. WAE to extract the last digit in given integer number. (without typecasting)
n = 123
n%10

3

In [8]:
#53. WAE to check the last digit is divisible by 3 from given integer number. (without typecasting)
n = 129
(n%10)%3==0

True

In [36]:
#54. WAE to check the last digit is divisible by 3 from given integer number. (with typecasting)
n = 259
n = str(n)
(int(n[-1]))%3==0

True

In [39]:
#55. WAE to check the given number is greater than 150.
n = 200
n>150

True

In [40]:
#56. WAE to check the given number is greater than or equal to 100.
n = 100
n>=100

True

In [43]:
#57. WAE to check the given number is less than 150, print the result.
n = 100
result = n<150
print(result)

True

In [48]:
#58. WAE to check the given number is less than or equal to 100.
n = 200
n <= 100

False

In [51]:
#59. WAE to check the given number is greater than 15 & less than 24.
n =22 
24>n>15

True

In [54]:
#60. WAE to check the given number is even.
n= 28
n%2==0

True

In [56]:
#61. WAE to check the given number is odd.
n = 10
n%2==0 
#Need to work.

True

In [ ]:
#62. WAE to check perform the replication of a given string with 6.

65